.password-link-login {
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
	width: 100%
}

.password-link-login a {
	text-decoration: none;
	color: #2278dd;
}

.signup-link-login {
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
  margin-top: 1.5em;
}

.signup-link-login a {
	text-decoration: underline;
	color: #212529;
	margin-left: 0.3em;
}