h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
	font-size: 1em;
	margin: 0;
}

.alert {
	margin-top: 1em;
}

.alert ul {
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

button {
	font-family: 'Montserrat', sans-serif;
	border: none;
}

button:focus {
	outline: 0;
}

/*Remove form autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.form-field {
  position: relative;
}

.form-field:not(:last-of-type) {
	padding-bottom: 2em;
}

input {
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
	border: none;
  border-bottom: 1px solid #212529;
  outline: none;
  width: 100%;
  padding: 0;
}

label {
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
	color: #212529;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.3s;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 0.7em;
  color: #2278dd;
  top: -1.5em;
  left: 0;
}

.content {
	max-width: 1100px;
	margin: 0 auto;
}

a.logo {
	font-size: 1.6em;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: #221f5d;
}

.customer {
	height: 100vh;
	display: flex;
}

.content-customer {
	padding: 5em 10em 2em 5em;
	flex: 1;
}

.headline-customer {
	font-size: 3em;
	font-family: 'Poppins', sans-serif;
	color: #221f5d;
	margin-bottom: 0.5em;
}

.paragraph-customer {
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .content {
  	padding-left: 2em;
  	padding-right: 2em;
  }
}